---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" />

<!-- .liquid = different template language, Needs to be written in HTML -->
<!-- Used in 11ty for dynamic webpages, allows for conditional elements to your page -->